body{
  background: rgb(63,187,251);
  background: radial-gradient(circle, rgba(63,187,251,0.9304096638655462) 0%, rgba(252,167,70,0.908000700280112) 100%);
  margin: 0;
}


.content{
  background-color: hsla(180, 100%, 97%, 0.76);
  padding: 5px 15px 1px 20px;
  margin: 0 9%;
}
nav ul{
  display: flex;
}
a{
  text-decoration: none;
}
.link{
  color: rgb(207, 32, 184);
font-size: 18px;
line-height: 24px;
}
.title{
  color: #aa2222;
  font-size: 20px;
  line-height: 36PX;
  font-weight:30px;

}
.text{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.subtitle{
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}
.picture{
  border-radius: 20px 50px 10px 80px;
  width: 350px;
}
.imputText{
  width: 200px;
  height: 30px;
  opacity: none;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 15px;
}


.btn{
  width: 100px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5%;
}